.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    -webkit-border-radius: 52px;
    border-radius: 52px;
    background: #f5ebe0;
    -webkit-box-shadow: 17px 17px 38px #ddd4ca, -17px -17px 38px #fffff6;
    box-shadow: 17px 17px 38px #ddd4ca, -17px -17px 38px #fffff6;

}

/* cart css */
.list{
    padding: 10px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #D1D8EC;
    -webkit-box-shadow: 8px 8px 22px #c0c7d9, -8px -8px 22px #e2e9ff;
    box-shadow: 8px 8px 22px #c0c7d9, -8px -8px 22px #e2e9ff;
}

.btn {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 9px 30px 7px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0);
  }
  .btn:hover{
    background-color: orange;
  }
  


@media only screen and (max-width: 600px) {
    .shop-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

