.product{
    width: 300px;
    height: 510px;
    /* border: 1px solid #95A0A7; */
    /* border-radius: 8px; */
    border-radius: 12% 11% 50% 50% / 12% 9% 26% 27% ;
    position: relative;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #fbfbfb;
    -webkit-box-shadow: 14px 14px 28px #d5d5d5, -14px -14px 28px #ffffff;
    box-shadow: 14px 14px 28px #d5d5d5, -14px -14px 28px #ffffff;
  
}
.product img{
    width: 286px;
    height: 286px;
     border-radius: 8px;
    /* border-radius: 12% 11% 50% 50% / 12% 9% 26% 27% ;  */
    margin: 10px;
    margin-top: 20px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: orange;
}